@import 'commons/css/variables.scss';

.event-card {
  $image-size: 130px;

  $card-width: 250px;
  $card-height: $image-size - 10px;

  $x-translation: 20px;

  display: flex;
  justify-content: center;

  height: $image-size;

  opacity: 0.45;

  &.-next-one-up,
  &.-next-one-up ~ .event-card {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  .visual-wrapper {
    width: $image-size;
    height: $image-size;
    display: block;
    position: relative;

    flex-shrink: 0;

    background: radial-gradient(circle, #093E7B 0%, #2E76A4 100%);

    transform: translateX($x-translation);

    .visual {
      width: $image-size;
      height: $image-size;
    }

    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px;

      font-size: 12px;
      letter-spacing: 0.5px;

      color: #fff;
      background-color: rgba($dark-color, 0.6)
    }
  }


  .card {
    width: $card-width;
    height: $card-height;

    margin-top: 5px;
    padding: 10px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    transform: translateX(-$x-translation);

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

    .row {
      display: flex;
      justify-content: space-between;
    }

    .event-name {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    .location {
      font-size: 16px;
    }

    .prices,
    .date {
      font-size: 13px;
      color: $light-text-color;
    }

    .prices {
      margin-right: 20px;
    }
  }
}