@import 'commons/css/variables.scss';
@import 'commons/css/breakpoint.scss';

.date-nav {
  position: fixed;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: $date-nav-height;

  white-space: nowrap;

  /* display: flex;
  justify-content: flex-start;
  align-items: stretch; */

  color: $white-text-color;
  background: radial-gradient(circle at top center, #0C3748 -15%, #06161E 100%);

  box-shadow: 0 -5px 30px 0 rgba(1,5,19,0.5);

  overflow-x: auto;

  @include respond-to('medium') {
    text-align: center;
  }

  .date-entry {
    $date-entry-padding: 15px;
    height: 100%;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    margin: 0 $date-entry-padding;

    opacity: 0.45;
    cursor: pointer;

    background: 0;
    border: 0;

    &:last-child {
      padding-right: $date-entry-padding;
    }

    span {
      display: block;
      text-align: center;

      color: #BFBFBF;
    }

    .week-day,
    .month {
      font-size: 13px;
      line-height: 16px;
    }

    .day {
      font-size: 20px;
      line-height: 1.25;
      font-weight: 500;
    }

    &.-active {
      opacity: 1;
      position: relative;

      &:focus {
        outline: none;
      }

      &:after {
        display: block;
        content: "";

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 50%, 0);

        height: 8px;
        width: 8px;

        border-radius: 50%;

        background-color: #fff;
        box-shadow: 0 0 50px 7px rgba(255,255,255,0.5);
      }
    }
  }

  .shadow {
    $shadow-oversize: 200px;
    position: absolute;
    right: 0;
    top: 0;

    height: $date-nav-height;
    width: 20px;

    overflow: hidden;

    &::after {
      content: '';
      display: block;

      position: fixed;
      right: 0;
      top: -$shadow-oversize / 2;

      height: calc(100% + #{$shadow-oversize});
      width: 200%;
      box-shadow: 0px 0 17px 10px inset rgba(255, 255, 255, 0.3);

      pointer-events: none;
    }
  }
}