$font-family: 'Quicksand';

$text-color: #092733;
$light-text-color: #94ABB5;
$white-text-color: #DEE5FF;

$info-bubble-color: #093E7B;

$date-nav-height: 85px;
$header-height: 120px;
$header-height-medium: 150px;

$dark-color: #06161E;
$dark-gradient: radial-gradient(circle at top center, #0C3748 -15%, $dark-color 100%);