@import 'commons/css/style.scss';

.home-page {
  .reset-filter {
    background: radial-gradient(circle at top center, #0C3748 -15%, #06161E 100%);
    color: #fff;

    position: fixed;
    right: 0;
    bottom: 140px;

    z-index: 1;

    border: 0;
    border-radius: 8px 0 0 8px;

    padding: 10px;

    font-size: 18px;

    transform: translateX(105%);
    transition: transform .3s;

    &.-show {
      transform: translateX(0);
    }
  }

  .propose-event-teaser {
    display: block;
    width: calc(100% - 40px);
    margin: 40px 20px 0;
    padding: 20px 10px;

    background: $dark-gradient;
    color: $light-text-color;

    text-decoration: none;
    text-align: center;

    .underlined {
      text-decoration: underline;
    }
  }
}