@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import 'commons/css/variables.scss';

html {
  font-family: $font-family;
  font-size: 18px;

  #root {
    .page-content {
      margin-top: $header-height;
      margin-bottom: 85px;

      padding: 25px 0;
    }

    .reset-filter {
      background: radial-gradient(circle at top center, #0C3748 -15%, #06161E 100%);
      color: #fff;

      position: fixed;
      right: 0;
      bottom: 140px;

      z-index: 1;

      border: 0;
      border-radius: 8px 0 0 8px;

      padding: 10px;

      font-size: 18px;
    }
  }
}