@import 'commons/css/variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: $header-height;
  width: 100%;

  background: url('../../images/header.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .search {
    height: 35px;
    display: flex;

    input, button {
      height: 100%;
    }

    button {
      width: 35px;
      background: url('../../images/search-icon.svg'), radial-gradient(circle, #093E7B 0%, #246EB9 100%);
      background-position: center;
      background-repeat: no-repeat;

      cursor: pointer;

      border: 0;
      border-radius: 0 16px 0 0;
    }

    input {
      width: 165px;

      border-radius: 0 0 0 16px;
      border: 0;

      padding: 0 20px;

      font-size: inherit;
    }
  }
}