@import 'commons/css/variables.scss';

.event-card {
  $image-width: 130px;
  $image-height: 120px;

  $card-width: 250px;
  $card-height: 110px;

  $x-translation: 20px;

  display: flex;
  justify-content: center;

  height: $image-height;

  opacity: 0.45;

  &.-next-one-up,
  &.-next-one-up ~ .event-card {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  .visual {
    width: $image-width;
    height: $image-height;

    flex-shrink: 0;

    background: radial-gradient(circle, #093E7B 0%, #2E76A4 100%);

    transform: translateX($x-translation);
  }

  .card {
    width: $card-width;
    height: 90%;

    margin-top: 5px;
    padding: 10px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    transform: translateX(-$x-translation);

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

    .row {
      display: flex;
      justify-content: space-between;
    }

    .event-name {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    .location {
      font-size: 16px;
    }

    .prices,
    .date {
      font-size: 13px;
      color: $light-text-color;
    }

    .info-bubble {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 15px;
      height: 15px;

      font-size: 8px;
      font-weight: 500px;

      color: #fff;
      background-color: #093E7B;

      border-radius: 50%;

      margin-left: 20px;
    }
  }
}